


.footer {
    display: flex;
    justify-content: space-between;
    background-color: #110d0d;
    padding: 20px;
  
    &__column {
      flex-basis: 33%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
      p {
        margin-bottom: 10px;
      }
  
      a {
        display: block;
        margin-bottom: 5px;
        color: #333;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  